.cartIcon {
  position: relative;
  .numberItem {
    position: absolute;
    background-color: $gold;
    width: 18px;
    height: 18px;
    border-radius: 20px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease-in-out;
    z-index: 2;
    font-size: 9px;
    top: -10px;
    left: 15px;
  }

  .shake {
    animation: shake 0.5s;
    /* When the animation is finished, start again */
    animation-iteration-count: infinite;
    }
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.product-cart-container {
  padding-top: 5vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 10% 20% auto 10%;
  grid-template-rows: 13vh auto auto auto;
  grid-template-areas: ". title title ." ". continueButton . ." ". tableCart tableCart ." ". subTotal generic_text .";

  .title {
    grid-area: title;
    color: black;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    padding-bottom: 5vh;
  }
  .continue__button {
    grid-area: continueButton;
  }

  .woo-next-cart-qty-input {
    border: 1px solid lightgray;
    width: 60px;
    padding: 5px 10px;
  }


  input[type=number]::-webkit-inner-spin-button, 
  input[type=number]::-webkit-outer-spin-button {  

   opacity: 1;
   margin-right: -10px;
   margin-top: 0px;
   height: 36px;
  

}
  .table__cart {
    grid-area: tableCart;
    margin-bottom: 20px;

    .header-desktop-only {
      display: revert;
      width: 100%;
    }

    .cart-products {
      width: 100%;

      tr {
        border: 1px solid black;
      }
      td {
        padding: 0 15px;
      }
      th {
        padding: 20px 15px;
      }

      .title-mobile-only {
        display: none;
      }
    }
  }
  .sub__total {
    grid-area: subTotal;

    table {
      width: 100%;
      margin-bottom: 20px;
      tr {
        border: 1px solid black;
      }
      th,
      td {
        padding: 20px 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      .title-mobile-only {
        display: none;
      }
    }
  }

  .generic_text {
    font-size: 1rem;
    font-weight: 500;
    color: black;
    grid-area: generic_text;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
  }
}

.container__checkout {
  width: 100vw;
  display: grid;
  grid-template-columns: 10% 40% 40% 10%;
  grid-template-rows: 13vh auto;
  grid-template-areas: ". title title ." ". formCheckout formCheckout .";
  padding-top: 5vh;

  .title {
    grid-area: title;
    color: black;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    padding-bottom: 5vh;
  }

  .form__checkout {
    grid-area: formCheckout;
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas: "orderResume" "formAddress" "paymentDetails";

    table {
      width: 100%;
      margin-bottom: 20px;
      tr {
        border: 1px solid black;
      }
      td {
        padding: 0 15px;
      }
      th {
        padding: 20px 15px;
      }
    }
    .checkout-cart td {
      padding: 20px 15px;
    }
    .order__resume {
      grid-area: orderResume;
    }
    .form__address {
      grid-area: formAddress;
      input,
      textarea,
      select {
        border: 1px solid black;
        border-radius: 0;
        background-color: white;
      }
    }
    .payment {
      grid-area: paymentDetails;

      input.img__sub {
        position: absolute;
        opacity: 0;
        width: 0;
        height: 0;
      }
      input.img__sub + img {
        cursor: pointer;
      }
      input.img__sub:checked + img {
        border: 2px solid black;
      }

      .order__payments {
        display: flex;
      }
    }
  }
}

// Tablet
@media only screen and (max-width: 992px) {
}

// Smartphone
@media only screen and (max-width: 568px) {
  .product-cart-container {
    grid-template-columns: 10% auto 10%;
    grid-template-rows: 20vh auto auto auto auto;
    grid-template-areas: ". title ." ". continueButton ." ". tableCart ." "generic_text generic_text generic_text" ". subTotal .";

    .table__cart {
      grid-area: tableCart;
      margin-bottom: 20px;
      overflow-x: auto;
      .header-desktop-only {
        display: none;
      }
      .cart-products {
        width: 100%;

        tr {
          border: 1px solid black;
        }
        td {
          padding: 0 15px;
          width: 100%;
          display: block;
        }
        .title-mobile-only {
          display: block;
          font-size: 10px;
          font-weight: 700;
          margin-top: 10px;
        }
        th {
          padding: 20px 15px;
        }
      }
    }
    .sub__total {
      grid-area: subTotal;

      table {
        width: 100%;
        margin-bottom: 20px;
        tr {
          border: 1px solid black;
        }
        th,
        td {
          padding: 20px 15px;
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
      }
    }
  }
}
