.cartIcon {
  position: relative;
  .numberItem {
    position: absolute;
    background-color: $gold;
    width: 18px;
    height: 18px;
    border-radius: 20px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    font-size: 9px;
    top: -10px;
    left: 15px;
  }
}

.product-cart-container {
  width: 100vw;
  display: grid;
  grid-template-columns: 10% 20% auto 10%;
  grid-template-rows: 20vh auto auto auto;
  grid-template-areas: ". title title ." ". continueButton . ." ". tableCart tableCart ." ". subTotal . .";

  .title {
    grid-area: title;
    color: black;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
  }
  .continue__button {
    grid-area: continueButton;
  }
  .table__cart {
    grid-area: tableCart;
    margin-bottom: 20px;

    .cart-products {
      width: 100%;

      tr {
        border: 1px solid black;
      }
      td {
        padding: 0 15px;
      }
      th {
        padding: 20px 15px;
      }
    }
  }
  .sub__total {
    grid-area: subTotal;

    table {
      width: 100%;
      margin-bottom: 20px;
      tr {
        border: 1px solid black;
      }
      th,
      td {
        padding: 20px 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }
  }
}

.container__checkout {
  width: 100vw;
  display: grid;
  grid-template-columns: 10% 40% 40% 10%;
  grid-template-rows: 20vh auto;
  grid-template-areas: ". title title ." ". formCheckout formCheckout .";

  .title {
    grid-area: title;
    color: black;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
  }

  .form__checkout {
    grid-area: formCheckout;
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas: "orderResume" "formAddress" "paymentDetails";

    table {
      width: 100%;
      margin-bottom: 20px;
      tr {
        border: 1px solid black;
      }
      td {
        padding: 0 15px;
      }
      th {
        padding: 20px 15px;
      }
    }
    .order__resume {
      grid-area: orderResume;
    }
    .form__address {
      grid-area: formAddress;
      input,
      textarea,
      select {
        border: 1px solid black;
        border-radius: 0;
        background-color: white;
      }
    }
    .payment {
      grid-area: paymentDetails;

      input.img__sub {
        position: absolute;
        opacity: 0;
        width: 0;
        height: 0;
      }
      input.img__sub + img {
        cursor: pointer;
      }
      input.img__sub:checked + img {
        border: 2px solid black;
      }
    }
  }
}
