.cartIcon {
  position: relative;
  .numberItem {
    position: absolute;
    background-color: $gold;
    width: 18px;
    height: 18px;
    border-radius: 20px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    font-size: 9px;
    top: -10px;
    left: 15px;
  }
}
