.container__hero {
  width: 100vw;
  height: 100vh;
  background-color: $lightGrey;
  display: grid;
  grid-template-columns: 40% auto 40%;
  grid-template-rows: 35% auto;
  grid-template-areas:
    "logo . heroimage"
    "description . heroimage";
  .logo {
    grid-area: logo;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 10%;

    img {
      width: 400px;
    }
  }
  .hero__image {
    grid-area: heroimage;
    background-image: url("/img/ThePolerouter_FrontCover_3d_HOMEPAGE_VERSION.jpg");
    background-size: cover;
    background-position: center;
  }
  .description {
    grid-area: description;
    background-color: $heroGrey;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 10%;
    p {
      text-transform: uppercase;
    }
    .scroll__down {
      position: relative;
      padding-left: 15px;
      &::before {
        content: "";
        display: block;
        width: 1px;
        height: 40px;
        background-color: black;
        position: absolute;
        left: 0;
        bottom: 3px;
      }
    }
  }
}

.container__coming_autumn {
  width: 100vw;
  min-height: 85vh;
  background-color: $darkGrey;
  display: flex;
  align-items: center;
  justify-content: center;

  .title {
    color: white;
    text-transform: uppercase;
    display: grid;
    align-items: center;
    text-align: center;
    font-size: 3.9rem;
  }
}


.container__prints {
  background-color: $darkGrey;

  .title {
    color: white;
  }
}

.container__testimonials {
  width: 100vw;
  min-height: 100vh;
  background-color: $darkGrey;
  display: grid;
  grid-template-columns: 2% 40% 2% auto;
  grid-template-rows: 1vh auto 1vh;
  grid-template-areas:
    ". . . ."
    ". firstcol . secondcol"
    ". . . .";
  column-gap: 2rem;
  font-family: "Bodoni";
}

.firstCol {
  grid-area: firstcol;
  justify-content: center;
}

.secondCol {
  grid-area: secondcol;
  padding-right: 10%;
  justify-content: space-around;
}

.firstCol, .secondCol {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
}
.container__testimonials .book__image {
  width: 70vh;
  display: block;
  height: 70vh;
  text-align: center;
  object-fit: cover;
  
}
.container__testimonials .testimonial {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  text-align: left;
  width: 100%;
}

.container__testimonials .testimonial .bigText {
  font-size: 32px;
  font-weight: 300;
  margin-bottom: 20px;
  line-height: 32px;
}
.container__testimonials .testimonial .mediumText {
  font-size: 20px;
  font-weight: 100;
  line-height: 22px;
  margin-bottom: 20px;
}
.container__testimonials .testimonial .smallText {
  font-size: 16px;
  line-height: 18px;
  margin-bottom: 20px;
  font-weight: 300;
  
}

.container__testimonials .testimonial .author_name {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 0;
  
}
.container__testimonials .testimonial .author_role {
  font-size: 14px;
  font-style: italic;
  font-weight: 300;
  margin-top: -5px;
}

.full-width {
  width: 100%;
}
.container__prints, .container__book {
  width: 100vw;
  min-height: 100vh;
  display: grid;
  padding-top: 5vh;
  grid-template-columns: 5% auto 10% auto 5%;
  grid-template-rows: 13vh auto 10%;
  grid-template-areas:
    ". title title title ."
    ". print freeshipping print2 ."
    ". . . . .";
  column-gap: 2rem;

  .free_shipping__text {
    grid-area: freeshipping;
    color: $darkGrey;
    font-size: 0.9rem;
    text-align: center;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }

  .title {
    grid-area: title;
    
    text-transform: uppercase;
    display: grid;
    align-items: center;
    padding-bottom: 5vh;
  }
  .print {
    display: flex;
    align-items: center;
    justify-content: center;

    .frame {
      overflow: hidden;
      max-height: 75vh;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      .title__print {
        position: absolute;
        height: 100%;
        display: flex;
        text-align: center;
        font-family: "Bodoni";
        align-items: center;
        justify-content: center;
        color: white;
        opacity: 0;
        transition: 1.5s ease opacity;
        pointer-events: none;
      }
      img {
        transition: 1.5s ease filter;
        filter: grayscale(0) opacity(1);
      }
      img:hover {
        filter: grayscale(1) opacity(0.5);
      }
    }

    &:hover .title__print {
      opacity: 1;
    }
  }
  .print_0 {
    grid-area: print;
  }
  .print_1 {
    grid-area: print2;
  }

}

.container__journal {
  padding-top: 5vh;
  padding-bottom: 10vh;
  width: 100vw;
  height: auto;
  background-color: white;
  display: grid;
  grid-template-columns: 10% auto 10%;
  grid-template-rows: 13vh auto 10%;
  grid-template-areas:
    ". title ."
    ". containerPosts .";
  column-gap: 2rem;

  .title {
    grid-area: title;
    color: black;
    text-transform: uppercase;
    display: grid;
    align-items: center;
    padding-bottom: 5vh;
  }
  a.link {
    padding: 2% 0;
    text-transform: uppercase;
    width: 100%;
    position: relative;
    text-align: center;
    display: block;
    margin-bottom: 50px;
    transition: all 0.25s $animationPrimary;
    transition-delay: 0.1s;
    &::after {
      content: "";
      display: block;
      position: absolute;
      height: 1px;
      background-color: black;
      left: 0;
      top: 50%;
      transition: all 0.5s $animationPrimary;
      transition-delay: 0.1s;
    }
    &::before {
      content: "";
      display: block;
      position: absolute;
      height: 1px;
      background-color: black;
      right: 0;
      top: 50%;
      transition: all 0.5s $animationPrimary;
      transition-delay: 0.1s;
    }
    &:hover::after {
      left: 5%;
    }
    &:hover::before {
      right: 5%;
    }
  }

  .container__terms {
    grid-area: containerPosts;
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto 10%;
    grid-template-areas:
      "textcontent"
      ".";
    column-gap: 2rem;

    .textContent {
      grid-area: textcontent;
      p {
        margin-bottom: 0;
      }
    }
  }

  .container__posts {
    grid-area: containerPosts;
    width: 100%;
    display: grid;
    grid-template-columns: 45% auto 20% auto 20%;
    grid-template-rows: auto 10%;
    grid-template-areas:
      "heropost . column1 . column2"
      "button . . . . ";
    column-gap: 2rem;

    .hero__post {
      grid-area: heropost;
      a::after,
      a::before {
        width: 30%;
      }
    }

    .column {
      div:nth-child(2) {
        margin-top: 30%;
      }
      a::after,
      a::before {
        width: 25%;
      }
    }
    .column__1 {
      grid-area: column1;
    }
    .column__2 {
      grid-area: column2;
    }

    .thumbnail {
      display: flex;
      align-items: center;
      justify-content: center;

      .frame {
        
        width: 100%;
        display: flex;
        align-items: center;
      }
    }
    .button__all_posts {
      grid-area: button;
      margin-top: 40px;
    }
  }

  h3 {
    padding: 4% 0;
    font-size: 1.1rem;
    text-transform: uppercase;
    font-weight: 500;
  }
  span {
    padding: 4% 0;
    text-transform: uppercase;
    font-weight: 100;
  }
  p {
    padding: 2% 0;
    font-weight: 100;
  }
}

// Tablet
@media only screen and (max-width: 992px) {

  .container__book {
    background-color: white;
    grid-template-columns: 5% auto 5%;
    grid-template-rows: 0% auto 5%;
    grid-template-areas:
      ". title ."
      ". print ."
      ". freeshipping ."
      ". print2 ."
      ". . .";
    column-gap: 2rem;
    
  
    .title {
      color: $darkGrey;
    }
  }

  .container__testimonials {
    grid-template-columns: 5% auto 5%;
    grid-template-rows: 2% auto auto 2%;
    grid-template-areas:
      ". . ."
      ". firstcol ."
      ". secondcol ."
      ". . .";
    column-gap: 2rem;
    row-gap: 5rem;
    font-family: "Bodoni";
  }

  .firstCol {
    
    padding-top: 0;
  }
  
  .secondCol {
    grid-area: secondcol;
    padding-bottom: 20px;
    padding-right: 20px;
  }

  .container__testimonials .testimonial {
    margin-top: 25%;
  }
}

// Smartphone
@media only screen and (max-width: 568px) {
  .container__hero {
    height: auto;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: "logo" "description" "heroimage";
    .logo {
      padding: 10%;
      img {
        width: 200px;
      }
    }
    .hero__image {
      background-image: url("/img/ThePolerouter_FrontCover_3d_HOMEPAGE_VERSION.jpg");
      height: 500px;
      margin: -200px 20px 80px 20px;
      background-color: $lightGrey;
      z-index: 9;
    }
    .description {
      padding-bottom: 220px;

      p {
        font-size: 10px;
      }
      .scroll__down {
        display: none;
      }
    }
  }

  .container__prints {
    height: auto;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
      ". title ."
      ". print ."
      ". print2 ."
      ". . .";

    .print {
      min-height: 100px;

      .active {
        .title__print {
          opacity: 1;
        }
        img {
          filter: grayscale(1) opacity(0.5);
        }
      }
    }

    .print_0 {
      margin: 0;
    }
    .print_1 {
      margin: 40px 0;
    }
  }
  .container__journal_internal,
  .container__prints_internal {
    margin-top: 0;
  }
  .container__journal {
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
      ". title ."
      ". containerPosts .";

    .container__posts {
      grid-area: containerPosts;
      width: 100%;
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: auto;
      grid-template-areas:
        "heropost"
        "column1"
        "column2"
        "button";


      .hero__post {
        a::after,
        a::before {
          width: 25%;
        }
      }


      .column {
        margin-top: 30px;

        div:nth-child(2) {
          margin-top: 30px;
        }

        a::after,
        a::before {
          width: 25%;
        }
      }
    }
  }
}
