.container__hero {
  width: 100vw;
  height: 100vh;
  background-color: $lightGrey;
  display: grid;
  grid-template-columns: 45% auto 35%;
  grid-template-rows: 35% auto;
  grid-template-areas:
    "logo . heroimage"
    "description . heroimage";
  .logo {
    grid-area: logo;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 10%;
  }
  .hero__image {
    grid-area: heroimage;
    background-image: url("/img/img_home.png");
    background-size: cover;
  }
  .description {
    grid-area: description;
    background-color: $heroGrey;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 10%;
    p {
      text-transform: uppercase;
    }
    .scroll__down {
      position: relative;
      padding-left: 15px;
      &::before {
        content: "";
        display: block;
        width: 1px;
        height: 40px;
        background-color: black;
        position: absolute;
        left: 0;
        bottom: 3px;
      }
    }
  }
}

.container__prints {
  width: 100vw;
  min-height: 100vh;
  background-color: $darkGrey;
  display: grid;
  padding-top: 5vh;
  padding-bottom: 10vh;
  grid-template-columns: 10% auto 15% auto 10%;
  grid-template-rows: calc(20vh + 84px) auto 10%;
  grid-template-areas:
    ". title title title ."
    ". print . print2 ."
    ". . . . .";
  column-gap: 2rem;

  .title {
    grid-area: title;
    color: white;
    text-transform: uppercase;
    display: grid;
    align-items: center;
    padding-bottom: 5vh;
  }
  .print {
    display: flex;
    align-items: center;
    justify-content: center;

    .frame {
      overflow: hidden;
      max-height: 70vh;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        transition: 1.5s ease filter;
        filter: grayscale(0) opacity(1);
      }
      img:hover {
        filter: grayscale(1) opacity(0.5);
      }
    }
  }
  .print_0 {
    grid-area: print;
  }
  .print_1 {
    grid-area: print2;
  }
}

.container__journal {
  padding-top: 5vh;
  width: 100vw;
  height: auto;
  background-color: white;
  display: grid;
  grid-template-columns: 10% auto 10%;
  grid-template-rows: calc(20vh + 84px) auto;
  grid-template-areas:
    ". title ."
    ". containerPosts .";
  column-gap: 2rem;

  .title {
    grid-area: title;
    color: black;
    text-transform: uppercase;
    display: grid;
    align-items: center;
  }
  a.link {
    padding: 2% 0;
    text-transform: uppercase;
    width: 100%;
    position: relative;
    text-align: center;
    display: block;
    margin-bottom: 50px;
    transition: all 0.25s $animationPrimary;
    transition-delay: 0.1s;
    &::after {
      content: "";
      display: block;
      position: absolute;
      height: 1px;
      background-color: black;
      left: 0;
      top: 50%;
      transition: all 0.5s $animationPrimary;
      transition-delay: 0.1s;
    }
    &::before {
      content: "";
      display: block;
      position: absolute;
      height: 1px;
      background-color: black;
      right: 0;
      top: 50%;
      transition: all 0.5s $animationPrimary;
      transition-delay: 0.1s;
    }
    &:hover::after {
      left: 5%;
    }
    &:hover::before {
      right: 5%;
    }
  }

  .container__posts {
    grid-area: containerPosts;
    width: 100%;
    display: grid;
    padding-top: 5vh;
    grid-template-columns: 45% auto 20% auto 20%;
    grid-template-rows: auto 10%;
    grid-template-areas:
      "heropost . column1 . column2"
      "button . . . . ";
    column-gap: 2rem;

    .hero__post {
      grid-area: heropost;
      a::after,
      a::before {
        width: 30%;
      }
    }

    .column {
      div:nth-child(2) {
        margin-top: 30%;
      }
      a::after,
      a::before {
        width: 25%;
      }
    }
    .column__1 {
      grid-area: column1;
    }
    .column__2 {
      grid-area: column2;
    }

    .thumbnail {
      display: flex;
      align-items: center;
      justify-content: center;

      .frame {
        overflow: hidden;
        width: 100%;
        display: flex;
        align-items: center;
      }
    }
    .button__all_posts {
      grid-area: button;
    }
  }

  h3 {
    padding: 4% 0;
    text-transform: uppercase;
    font-weight: 500;
  }
  span {
    padding: 4% 0;
    text-transform: uppercase;
    font-weight: 100;
  }
  p {
    padding: 2% 0;
    font-weight: 100;
  }
}

// Tablet
@media only screen and (max-width: 992px) {
}

// Smartphone
@media only screen and (max-width: 568px) {
  .container__hero {
    height: auto;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: "logo" "description" "heroimage";
    .logo {
      padding: 10%;
      img {
        width: 200px;
      }
    }
    .hero__image {
      background-image: url("/img/img_home.png");
      height: 500px;
      margin: -200px 20px 80px 20px;
      background-color: $lightGrey;
      z-index: 9;
    }
    .description {
      padding-bottom: 220px;
      .scroll__down {
        position: absolute;
        bottom: -120px;
      }
    }
  }

  .container__prints {
    height: auto;
    grid-template-columns: 10% auto 10%;
    grid-template-rows: auto;
    grid-template-areas:
      ". title ."
      ". print ."
      ". print2 ."
      ". . .";

    .print {
      height: 500px;
      margin: 40px 0;
    }
  }
  .container__journal_internal,
  .container__prints_internal {
    margin-top: 10vh;
  }
  .container__journal {
    grid-template-columns: 10% auto 10%;
    grid-template-rows: auto;
    grid-template-areas:
      ". title ."
      ". containerPosts .";

    .container__posts {
      grid-area: containerPosts;
      width: 100%;
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: auto;
      grid-template-areas:
        "heropost"
        "column1"
        "column2"
        "button";

      .hero__post {
        a::after,
        a::before {
          width: 25%;
        }
      }

      .column {
        div:nth-child(2) {
          margin-top: 30%;
        }
        a::after,
        a::before {
          width: 25%;
        }
      }
    }
  }
}
