@import "~tailwindcss/base";
@import "~tailwindcss/components";
@import "~tailwindcss/utilities";

// NProgress style.
@import "nprogress/nprogress.css";
@import "variables.scss";
@import "nav.scss";
@import "home.scss";
@import "contact.scss";
@import "footer.scss";
@import "cart.scss";
@import "product.scss";
@import "post.scss";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap");
@font-face {
  font-family: "Bodoni";
  src: url("/public/fonts/Bodoni_Moda/BodoniModa-VariableFont_opsz\,wght.ttf");
}

body {
  font-family: "Open sans", sans-serif;
}

h1 {
  font-size: 2rem;
  font-family: "Bodoni";
  letter-spacing: 0.2rem;
}

h2 {
  font-size: 1.8rem;
}
h3 {
  font-size: 1.4rem;
}

.n-block {
  display: block;
  width: 100%;
}

.button {
  font-size: 1.2rem;
  padding: 20px 50px;
  text-align: center;
  border: 1px solid $gold;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.button__black {
  @extend .button;
  background-color: black;
  border: 1px solid black;
  color: white;
  transition: 0.25s all ease;

  &:hover {
    background-color: $gold;
  }
}

// Tablet
@media only screen and (max-width: 992px) {
}

// Smartphone
@media only screen and (max-width: 568px) {
  h1 {
    font-size: 1.6rem;
  }
  .button {
    display: block;
    width: 100%;
  }
}
